# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Output files (optional but recommended)
output/*.xlsx

# Data files (IMPORTANT - don't upload dataset)
data/*.xlsx